body{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 650px;
  }
#label{
  text-align: center;
  font-size:32px;
}
#counter-up,#counter-down{
    background-color: #574caf;
    border-radius: 50%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}